[submodule "FreeRTOS/Source"]
	path = FreeRTOS/Source
	url = https://github.com/foss-xtensa/FreeRTOS-Kernel.git
[submodule "FreeRTOS/Demo/ThirdParty/Partner-Supported-Demos"]
	path = FreeRTOS/Demo/ThirdParty/Partner-Supported-Demos
	url = https://github.com/foss-xtensa/FreeRTOS-Partner-Supported-Demos.git